.foto{
width: 441px;
height: 466px;
background-color: rgb(252, 251, 251);

}
.primeira_secao{
width: 541px;
height: 466px;
background-color: rgb(246, 252, 252);
display: flex;
flex-direction: row;
justify-content: space-between;

}
.gatinhotamanho{
    width: 141px;
    height: 215px;
    
    }



