.foto{
width: 532px;
height: 142;
background-color: rgb(231, 20, 20);

}
.primeira_secao{
width: 532px;
height: 523px;
background-color: aqua;
display: flex;
flex-direction: row;
justify-content: space-between;

.gatinho1.png{
width: 141;
height: 215;

}


}

